<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="#">
            <i class="ion-ios-speedometer"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="{% url 'list-routes' %}">
            <i class="ion-android-contacts" aria-hidden="true"></i> <span>Bus Routes</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>